APP_NAME = Opa Jan's Git
APP_SLOGAN = Modern Code, Classic Know-How
RUN_USER = git
WORK_PATH = /data
RUN_MODE = prod

[database]
DB_TYPE = sqlite3
PATH = /data/forgejo.db
LOG_SQL = false

[repository]
ROOT = /data/forgejo-repositories

[server]
SSH_DOMAIN = git.{{ domain_external }}
DOMAIN = git.{{ domain_external }}
HTTP_PORT = 3000
ROOT_URL = https://git.{{ domain_external }}/
APP_DATA_PATH = /data
DISABLE_SSH = false
SSH_PORT = 2222
SSH_LISTEN_PORT = 2222
LFS_START_SERVER = true
LFS_JWT_SECRET = {{ forgejo_lfs_jwt_secret | default('plJP_8mWUEeLhloE0iadVbV1P5iqpQPDznoQw4auD1Q') }}
OFFLINE_MODE = false
START_SSH_SERVER = true

[lfs]
PATH = /data/lfs

[mailer]
ENABLED = true
SMTP_ADDR = smtp.gmail.com
SMTP_PORT = 587
FROM = git@opajan.com
USER = {{ smtp_user | default('jan.vanveldhuizen@gmail.com') }}
PASSWD = {{ smtp_password | default('Handwash0-Size-Ashamed') }}

[service]
REGISTER_EMAIL_CONFIRM = false
ENABLE_NOTIFY_MAIL = true
DISABLE_REGISTRATION = true
ALLOW_ONLY_EXTERNAL_REGISTRATION = false
ENABLE_CAPTCHA = false
REQUIRE_SIGNIN_VIEW = false
DEFAULT_KEEP_EMAIL_PRIVATE = true
DEFAULT_ALLOW_CREATE_ORGANIZATION = true
DEFAULT_ENABLE_TIMETRACKING = true
NO_REPLY_ADDRESS = noreply.localhost

[openid]
ENABLE_OPENID_SIGNIN = true
ENABLE_OPENID_SIGNUP = false

[cron.update_checker]
ENABLED = true

[session]
PROVIDER = file

[log]
MODE = console
LEVEL = info
ROOT_PATH = /data/log

[repository.pull-request]
DEFAULT_MERGE_STYLE = merge

[repository.signing]
DEFAULT_TRUST_MODEL = committer

[security]
INSTALL_LOCK = true
INTERNAL_TOKEN = {{ forgejo_internal_token | default('eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJuYmYiOjE3MzkxMTY5MTN9.Lu7UUUD8lbmrp1D2jDKPBExBzg1H38gjVOuO9HJGZJ4') }}
PASSWORD_HASH_ALGO = pbkdf2_hi

[oauth2]
JWT_SECRET = {{ forgejo_oauth2_jwt_secret | default('WEPgM2N9m9PAIItf-jTeJxinCiiBcKSFaB86mAjSmlc') }}