// Error page HTML template with debugging information
const ERROR_PAGE = `<!DOCTYPE html>
<html>
<head>
  <title>Opajan Service Temporarily Unavailable (Debug Mode)</title>
  <style>
    body { font-family: Arial, sans-serif; text-align: center; padding: 50px; background-color: #f8f9fa; }
    .container { max-width: 800px; margin: 0 auto; background-color: white; padding: 30px; border-radius: 8px; box-shadow: 0 2px 10px rgba(0,0,0,0.1); }
    h1 { color: #e74c3c; }
    .service-name { font-weight: bold; color: #2c3e50; }
    .footer { margin-top: 30px; font-size: 12px; color: #7f8c8d; }
    .debug-info { margin-top: 30px; text-align: left; background-color: #f5f5f5; padding: 15px; border-radius: 5px; font-family: monospace; white-space: pre-wrap; }
    .debug-section { margin-bottom: 15px; }
    .debug-title { font-weight: bold; color: #2980b9; }
  </style>
</head>
<body>
  <div class="container">
    <h1>Service Temporarily Unavailable</h1>
    <p>The Opajan service <span class="service-name">{SERVICE_NAME}</span> you're trying to reach is currently unavailable.</p>
    <p>Please try again later or contact support if the problem persists.</p>
    <p><small>Error {ERROR_CODE}</small></p>
    
    <div class="debug-info">
      <div class="debug-section">
        <div class="debug-title">Request URL:</div>
        {DEBUG_REQUEST_URL}
      </div>
      <div class="debug-section">
        <div class="debug-title">Request Headers:</div>
        {DEBUG_REQUEST_HEADERS}
      </div>
      <div class="debug-section">
        <div class="debug-title">Response Status:</div>
        {DEBUG_RESPONSE_STATUS}
      </div>
      <div class="debug-section">
        <div class="debug-title">Response Headers:</div>
        {DEBUG_RESPONSE_HEADERS}
      </div>
      <div class="debug-section">
        <div class="debug-title">Response Body (preview):</div>
        {DEBUG_RESPONSE_BODY}
      </div>
      <div class="debug-section">
        <div class="debug-title">Error Details:</div>
        {DEBUG_ERROR_DETAILS}
      </div>
    </div>
    
    <div class="footer">© Opajan Home Network</div>
  </div>
</body>
</html>`;

// Service name mapping based on hostname
const SERVICE_NAMES = {
  'git.opajan.com': 'Git Server',
  'assistant.opajan.com': 'Home Assistant',
  'proxmox.opajan.com': 'Proxmox Server',
  'pihole1.opajan.com': 'Pi-hole Primary DNS',
  'pihole2.opajan.com': 'Pi-hole Secondary DNS',
  'plex.opajan.com': 'Plex Media Server',
  'grav.opajan.com': 'Grav CMS',
  'www.opajan.com': 'Opajan Website'
};

addEventListener('fetch', event => {
  event.respondWith(handleRequest(event.request));
});

async function handleRequest(request) {
  // Extract hostname from request
  const url = new URL(request.url);
  const hostname = url.hostname;
  
  // Get friendly service name or use hostname if not mapped
  const serviceName = SERVICE_NAMES[hostname] || hostname;
  
  // Format headers for display
  const formatHeaders = (headers) => {
    let result = '';
    for (const [key, value] of headers.entries()) {
      result += `${key}: ${value}\n`;
    }
    return result || 'No headers available';
  };
  
  // Format request headers for debugging
  const requestHeadersDebug = formatHeaders(request.headers);
  
  try {
    // Try to fetch the original request
    const response = await fetch(request);
    
    // If response is successful, or an auth error, return it unchanged
    if (response.status < 500) {
      return response;
    }
    
    // Clone the response to read the body
    const responseClone = response.clone();
    let responseBodyText = '';
    try {
      // Try to get response body as text (might not always work)
      const responseBody = await responseClone.text();
      responseBodyText = responseBody.substring(0, 500) + (responseBody.length > 500 ? '...' : '');
    } catch (e) {
      responseBodyText = 'Could not read response body: ' + e.message;
    }
    
    // For error responses, serve custom error page with debug info
    let errorPage = ERROR_PAGE;
    
    // Replace the placeholders
    errorPage = errorPage
      .replace('{SERVICE_NAME}', serviceName)
      .replace('{ERROR_CODE}', response.status)
      .replace('{DEBUG_REQUEST_URL}', request.url)
      .replace('{DEBUG_REQUEST_HEADERS}', requestHeadersDebug)
      .replace('{DEBUG_RESPONSE_STATUS}', response.status + ' ' + response.statusText)
      .replace('{DEBUG_RESPONSE_HEADERS}', formatHeaders(response.headers))
      .replace('{DEBUG_RESPONSE_BODY}', responseBodyText)
      .replace('{DEBUG_ERROR_DETAILS}', 'Response error');
    
    return new Response(errorPage, {
      status: response.status,
      headers: {
        'Content-Type': 'text/html',
        'Cache-Control': 'no-cache'
      }
    });
  } catch (err) {
    // Network error (home connection down)
    let errorPage = ERROR_PAGE;
    
    // Replace the placeholders with debug info
    errorPage = errorPage
      .replace('{SERVICE_NAME}', serviceName)
      .replace('{ERROR_CODE}', '521 - Web Server Is Down')
      .replace('{DEBUG_REQUEST_URL}', request.url)
      .replace('{DEBUG_REQUEST_HEADERS}', requestHeadersDebug)
      .replace('{DEBUG_RESPONSE_STATUS}', 'N/A - Connection failed')
      .replace('{DEBUG_RESPONSE_HEADERS}', 'N/A - Connection failed')
      .replace('{DEBUG_RESPONSE_BODY}', 'N/A - Connection failed')
      .replace('{DEBUG_ERROR_DETAILS}', err.message || 'Unknown error');
    
    return new Response(errorPage, {
      status: 521,
      headers: {
        'Content-Type': 'text/html',
        'Cache-Control': 'no-cache'
      }
    });
  }
}
