#!/bin/bash
# Installer script for {{ app.value.name }}
# Created by Jansible

APP_NAME="{{ app.value.name }}"
APP_URL="{{ app.value.url }}"
INSTALL_DIR="{{ '/home/jan/.setups/' ~ app.value.name }}"
DEB_FILE="$INSTALL_DIR/$APP_NAME.deb"
TEMP_DEB_FILE="$INSTALL_DIR/$APP_NAME.tmp.deb"
STATUS_FILE="$INSTALL_DIR/installed"
CHECKSUM_FILE="$INSTALL_DIR/checksum"

check_newer_version() {
  local existing_file="$1"
  local new_file="$2"
  
  # If existing file doesn't exist, new version is available
  if [ ! -f "$existing_file" ]; then
    return 0  # true, newer version available
  fi
  
  # Compare file sizes
  local existing_size=$(stat -c %s "$existing_file")
  local new_size=$(stat -c %s "$new_file")
  
  if [ "$new_size" != "$existing_size" ]; then
    return 0  # true, newer version available
  fi
  
  # Compare checksums for more accuracy
  local existing_checksum=$(md5sum "$existing_file" | awk '{print $1}')
  local new_checksum=$(md5sum "$new_file" | awk '{print $1}')
  
  if [ "$new_checksum" != "$existing_checksum" ]; then
    return 0  # true, newer version available
  fi
  
  return 1  # false, same version
}

echo "Checking for $APP_NAME..."

# Download application to temp file
echo "Downloading $APP_NAME from $APP_URL..."
wget -O "$TEMP_DEB_FILE" "$APP_URL" --no-check-certificate || {
  echo "Download failed!"
  rm -f "$TEMP_DEB_FILE"
  exit 1
}

# Check if we have a newer version
if check_newer_version "$DEB_FILE" "$TEMP_DEB_FILE"; then
  echo "New version detected!"
  # Save checksum of new file
  md5sum "$TEMP_DEB_FILE" | awk '{print $1}' > "$CHECKSUM_FILE"
  # Replace old file with new one
  mv "$TEMP_DEB_FILE" "$DEB_FILE"
  # Install/update application
  echo "Installing $APP_NAME..."
  sudo apt install -y "$DEB_FILE" || {
    echo "Installation failed!"
    exit 1
  }
  # Mark as installed with timestamp
  echo "$(date)" > "$STATUS_FILE"
  echo "$APP_NAME installed/updated successfully!"
else
  echo "You already have the latest version of $APP_NAME."
  # If not installed but same version exists, install it
  if [ ! -f "$STATUS_FILE" ]; then
    echo "Installing existing version..."
    sudo apt install -y "$DEB_FILE" || {
      echo "Installation failed!"
      exit 1
    }
    echo "$(date)" > "$STATUS_FILE"
    echo "$APP_NAME installed successfully!"
  fi
  # Remove temp file
  rm -f "$TEMP_DEB_FILE"
fi