#!/bin/bash
# AppImage installer script for {{ appimage.key }}
# Created by Jansible

APP_NAME="{{ appimage.key }}"
APP_URL="{{ appimage.value.url }}"
DEST_PATH="{{ appimage.value.dest }}"
INSTALL_DIR="{{ '/home/jan/.setups/' ~ appimage.key }}"
APPIMAGE_FILE="$INSTALL_DIR/$APP_NAME.AppImage"
TEMP_FILE="$INSTALL_DIR/$APP_NAME.tmp.AppImage"
STATUS_FILE="$INSTALL_DIR/installed"
CHECKSUM_FILE="$INSTALL_DIR/checksum"

check_newer_version() {
  local existing_file="$1"
  local new_file="$2"
  
  # If existing file doesn't exist, new version is available
  if [ ! -f "$existing_file" ]; then
    return 0  # true, newer version available
  fi
  
  # Compare file sizes
  local existing_size=$(stat -c %s "$existing_file")
  local new_size=$(stat -c %s "$new_file")
  
  if [ "$new_size" != "$existing_size" ]; then
    return 0  # true, newer version available
  fi
  
  # Compare checksums for more accuracy
  local existing_checksum=$(md5sum "$existing_file" | awk '{print $1}')
  local new_checksum=$(md5sum "$new_file" | awk '{print $1}')
  
  if [ "$new_checksum" != "$existing_checksum" ]; then
    return 0  # true, newer version available
  fi
  
  return 1  # false, same version
}

echo "Checking for $APP_NAME..."

# Download application to temp file
echo "Downloading $APP_NAME from $APP_URL..."
wget -O "$TEMP_FILE" "$APP_URL" --no-check-certificate || {
  echo "Download failed!"
  rm -f "$TEMP_FILE"
  exit 1
}

# Check if we have a newer version
if check_newer_version "$APPIMAGE_FILE" "$TEMP_FILE"; then
  echo "New version detected!"
  # Save checksum of new file
  md5sum "$TEMP_FILE" | awk '{print $1}' > "$CHECKSUM_FILE"
  # Replace old file with new one
  mv "$TEMP_FILE" "$APPIMAGE_FILE"
  # Make executable
  chmod +x "$APPIMAGE_FILE"
  # Install application (copy to destination)
  echo "Installing $APP_NAME to $DEST_PATH..."
  sudo cp "$APPIMAGE_FILE" "$DEST_PATH" || {
    echo "Installation failed!"
    exit 1
  }
  sudo chmod +x "$DEST_PATH"
  # Mark as installed with timestamp
  echo "$(date)" > "$STATUS_FILE"
  echo "$APP_NAME installed/updated successfully!"
else
  echo "You already have the latest version of $APP_NAME."
  # If not installed but same version exists, install it
  if [ ! -f "$STATUS_FILE" ]; then
    echo "Installing existing version..."
    sudo cp "$APPIMAGE_FILE" "$DEST_PATH" || {
      echo "Installation failed!"
      exit 1
    }
    sudo chmod +x "$DEST_PATH"
    echo "$(date)" > "$STATUS_FILE"
    echo "$APP_NAME installed successfully!"
  fi
  # Remove temp file
  rm -f "$TEMP_FILE"
fi

# Create desktop entry
DESKTOP_FILE="$HOME/.local/share/applications/$APP_NAME.desktop"
mkdir -p "$HOME/.local/share/applications"

echo "Creating desktop entry at $DESKTOP_FILE..."
cat > "$DESKTOP_FILE" << EOF
[Desktop Entry]
Name=$APP_NAME
Exec=$DEST_PATH
Icon=
Type=Application
Categories=Development;
Terminal=false
EOF

echo "Desktop entry created. You can find $APP_NAME in your application menu."