{%- set hostname = greeting | default(ansible_hostname | upper) -%}
{%- set padding = ((45 - hostname | length) / 2) | int -%}
···············································
|     Welcome,you are connected to:           |
|{{ ' ' * padding }}{{ hostname }}{{ ' ' * (45 - hostname | length - padding) }}|
···············································
