{{ devices.modem.ip }} {{ devices.modem.name }}
{{ devices.printer.ip }} {{ devices.printer.name }}
{{ devices.server.ip }} {{ devices.server.name }}
{{ devices.srvdns1.ip }} {{ devices.srvdns1.name }}
{{ devices.srvdns2.ip }} {{ devices.srvdns2.name }}
{{ devices.srvhome.ip }} {{ devices.srvhome.name }}
{{ devices.windoze.ip }} {{ devices.windoze.name }}
{{ devices.srvweb1.ip }} {{ devices.srvweb1.name }}
{{ devices['docker-net'].ip }} {{ devices['docker-net'].name }}
{{ devices['docker-web'].ip }} {{ devices['docker-web'].name }}
{{ devices['docker-media'].ip }} {{ devices['docker-media'].name }}
{{ devices['docker-db'].ip }} {{ devices['docker-db'].name }}
{{ devices['docker-dev'].ip }} {{ devices['docker-dev'].name }}
