{{ devices.modem.ip }} {{ devices.modem.name }}
{{ devices.printer.ip }} {{ devices.printer.name }}
{{ devices.server.ip }} {{ devices.server.name }}
{{ devices.srvdns1.ip }} {{ devices.srvdns1.name }}
{{ devices.srvdns2.ip }} {{ devices.srvdns2.name }}
{{ devices.srvgit.ip }} {{ devices.srvgit.name }}
{{ devices.srvhome.ip }} {{ devices.srvhome.name }}
{{ devices.srvtunnel.ip }} {{ devices.srvtunnel.name }}
{{ devices.srvmedia.ip }} {{ devices.srvmedia.name }}
{{ devices.windoze.ip }} {{ devices.windoze.name }}
{{ devices.srvweb1.ip }} {{ devices.srvweb1.name }}
{{ devices.lapjan2.ip }} {{ devices.lapjan2.name }}