dhcp-authoritative
dhcp-range={{ pihole.range_start }},{{ pihole.range_end }},1h
dhcp-option=option:router,{{ devices.modem.ip }}
dhcp-leasefile=/etc/pihole/dhcp.leases
domain={{ domain_internal }}
local=/{{ domain_internal }}/
dhcp-option=option:dns-server,{{ devices.srvdns1.ip }},{{ devices.srvdns2.ip }}, 1.1.1.1
