INSTALL_WEB_INTERFACE=true
PIHOLE_DNS_1=127.0.0.1#5335
BLOCKING_ENABLED=true
DNSMASQ_LISTENING=single
DNS_FQDN_REQUIRED=true
DNS_BOGUS_PRIV=true
DNSSEC=true
REV_SERVER=true
REV_SERVER_CIDR={{ router_subnet }}
REV_SERVER_TARGET={{ devices.modem.ip }}
REV_SERVER_DOMAIN={{ domain_internal }}
ADMIN_EMAIL=
WEBUIBOXEDLAYOUT=boxed
WEBTHEME=default-darker
PIHOLE_INTERFACE=eth0
QUERY_LOGGING=true
TEMPERATUREUNIT=C
WEBPASSWORD={{ pihole_admin_password | hash('sha256') | hash('sha256') }}
DHCP_ACTIVE=true
DHCP_START={{ pihole.range_start }}
DHCP_END={{ pihole.range_end }}
DHCP_ROUTER={{ devices.modem.ip }}
DHCP_LEASETIME=1
PIHOLE_DOMAIN={{ domain_internal }}
DHCP_IPv6=false
DHCP_RAPID_COMMIT=false
