body, html {
    height: 100%;
    margin: 0;
    font-family: 'IBM Plex Sans Condensed', 'IBM Plex Sans', sans-serif;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('homelab.avif') no-repeat center center fixed;
  background-size: cover; 
  filter: blur(2px);
  z-index: -1;
}

.container {
  position: relative;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px 0;
  box-sizing: border-box;
}

.command-block {
    text-align: left;
    background: rgba(0, 0, 0, 0.8);
    padding: 15px;
    border-radius: 10px;
    width: auto;
    max-width: 1000px;
    color: white;
    margin: 0 10px;
    line-height: 1.5;
    overflow-y: auto;
    max-height: 90vh;
}

.command-block a {
    color: #82caff;
}

.command-block a:hover, .command-block a:focus {
    color: #ffffff;
}

code {
  font-size: 1.2em;
  background-color: rgba(30, 40, 50, 0.8);
  padding: 2px 5px;
  border-radius: 5px;
  vertical-align: baseline;
}

/* Responsive adjustments */
@media (max-width: 850px) {
    .command-block {
        max-width: 95%;
        padding: 15px;
        margin: 0 5px;
    }

    code {
        font-size: 1em;
    }

    .container {
        padding: 10px 0;
    }
}
