[Unit]
Description=Cloudflare Tunnel
After=network.target

[Service]
TimeoutStartSec=0
Type=simple
User=root
WorkingDirectory=/etc/cloudflared
ExecStart=/usr/bin/cloudflared tunnel run --token {{ tunnel_token }}
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target

