name = "error-handler"
main = "error_handler.js"
compatibility_date = "2023-10-30"
workers_dev = false
account_id = "e8132b45a24b36983b09a6792d0dffc0"

# Routes define which URLs will be handled by this worker
# This will catch all requests to your domain and subdomains
routes = [
  "{{ domain_external }}/*",
  "*.{{ domain_external }}/*"
]

# Remove deprecated fields
# type, zone_id, and build.upload.format are no longer needed 
